/* Colors */
$green: hsl(154, 100%, 41%);
$cream:hsl(0, 0%, 100%);



/* Main Wrapper */
.film_info_wrapper {
    height: 100%;
    width: 100%;
    z-index: 100;

    /* Film Info Inner Wrapper */
    .film_info_inner_wrapper {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        width: 100%;
        min-height: 100%;
        z-index: 100;
        
        @media only screen and (max-width: 720px) {
            -webkit-box-orient: vertical;
            -webkit-box-direction: reverse;
            -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
        }

        /* Film Info Inner Wrapper Left */
        .film_info_inner_wrapper_left {
            min-height: 100%;
            width: 40%;
            z-index: 100;

            @media only screen and (max-width: 720px) {
                width: 100%;
            }

            @media only screen and (max-width: 510px) {
                padding-bottom: 2rem;
            }

            .film_image {
                height: 100%;
                width: 100%;
            }
        }

        /* Film Info Inner Wrapper Right */
        .film_info_inner_wrapper_right {
            min-height: 100%;
            width: 60%;
            background: rgba(0, 0, 0, 0.801);
            position: relative;
            z-index: 100;

            @media only screen and (max-width: 720px) {
                width: 100%;
            }

            /* Film List */
            .film_list {
                width: 100%;
                background: rgba(0, 0, 0, 0.9);
                position: absolute;
                top: 0;
                height: 250px;
                padding-top: 2rem;
                opacity: 0;
                transition: 500ms;
                overflow: scroll;
                overflow-x: hidden;
                -ms-overflow-style: none;
            }

            .film_list.active {
                display: block;
                z-index: 100;
                padding-top: 0;
                opacity: 1;
                transition: 500ms;
            }

            .film_list:hover {
                -ms-overflow-style: none;
            }

            .film_list::-webkit-scrollbar {
                display: none;
            }

            /* Film Introduction */
            .film_introduction {
                min-height: 40%;
                padding: 1rem;

                .film_introduction_title {
                    color: $cream;
                    font-weight: bold;
                    font-size: 3.4rem;
                    margin: 0;
                    padding: 0;

                    @media only screen and (max-width: 510px) {
                        font-size: 2.4rem;
                    }
                }

                .film_introduction_story {
                    color: $cream;
                    font-size: 1.4rem;
                    margin: 0;
                    padding: 2rem 0 0 0;
                    line-height: 25px;
                }
            }

            /* Film Information */
            .film_information {
                min-height: 30%;
                padding: 1rem 1rem 2rem 1rem;

                #film_genre {
                    width: 100%;
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;
                    -ms-flex-wrap: wrap;
                    flex-wrap: wrap;
                    padding-bottom: 2rem;

                    h2 {
                        margin: 0;
                        font-weight: 400;
                        color: white;
                        font-size: 1.4rem;
                        padding-right: .5rem;
                        line-height: 35px;
                    }

                    h4 {
                        color: $green;
                        font-weight: bold;
                        font-size: 1.5rem;
                        margin: 0;
                    }
                }

                .film_information_addittional_row1 {
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;
                    min-width: 70%;

                    .film_information_addittional_row1 div {
                        width: 50%;
                        text-align: left;
                    }
                }

                .film_information_addittional_row2 {
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;
                    min-width: 70%;

                    .film_information_addittional_row2 div {
                        width: 50%;
                        text-align: left;
                    }
                }
            }
        }
    }
}

/* Absoloute Positioned Background */
.background {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 5;

    .background_tint {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        z-index: 10;
        width: 100vw;
        background-image: linear-gradient(rgba(0, 0, 0, .85) 1%, rgba(0, 0, 0, .2) 40%, #000 100%);
    }
}




/* Global Items */
.film_information p {
    color: white;
    padding: .4rem 0;
    margin: 0;
    font-size: 1.4rem;
}

.aqua {
    color: $green;
    padding: 0;
    margin: 0;
    font-size: 1.8rem;
}